[submodule "wasm-bindgen"]
	path = wasm-bindgen
	url = https://github.com/wasm-bindgen/wasm-bindgen
[submodule "ts-gen"]
	path = ts-gen
	url = https://github.com/wasm-bindgen/ts-gen
[submodule "wasm-streams"]
	path = wasm-streams
	url = https://github.com/guybedford/wasm-streams
	branch = fix-unwind-safety-impls
[submodule "gloo"]
	path = gloo
	url = https://github.com/guybedford/gloo
	branch = fix-gloo-timers-unwind-safety
