[package]
name = "router-on-workers"
version = "0.1.0"
edition = "2021"

[package.metadata.release]
release = false

[lib]
crate-type = ["cdylib"]

[dependencies]
serde = "1"
worker = "0.7"

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
