name = "testing-rust-worker"
type = "javascript"
workers_dev = true
compatibility_date = "2021-11-27" # required

kv_namespaces = [
    { binding = "SOME_NAMESPACE", id = "A", preview_id = "B" },
    { binding = "FILE_SIZES", id = "C", preview_id = "D" },
]

vars = { SOME_VARIABLE = "some value" }

[durable_objects]
bindings = [{ name = "COUNTER", class_name = "Counter" }]

[build]
command = "worker-build --release"

[build.upload]
dir = "build/worker"
format = "modules"
main = "./shim.mjs"

[[build.upload.rules]]
globs = ["**/*.wasm"]
type = "CompiledWasm"
